* {
  /*outline: 1px solid purple;*/
  font-family: 'Eagle lake', georgia;
  text-align: center;
  color: #363636;
}

h1 {
  font-size: 225%;
  padding: 10px;
}

p {
  font-size: 150%;
  padding: 20px;
  font-weight: bold;
}

body {
  background-color: #bfdbec;
  background-image: url(../assets/parchment-background-2.png);
  background-size: cover;
}

header {
  background-image: url(../assets/village-background-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 40%;
  min-height: 200px;
}

.center {
  margin: auto;
  width: 90%;
}

main {
  /*min-height: 10000px;*/
  flex: 1;
}

.container {
  display: flex; /* Or display: grid; with appropriate grid-template-columns */
}

/* The sidebar menu */
.sidenav {
  width: 250px; /* Example width */
  height: 95vh;
  /*background-color: #f6f5e0;*/
  background-image: url(../assets/scroll-background.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  position: sticky;
  top: 0px;
  /*bottom: 0px; /* Matches the header's height */
  align-self: flex-start; /* Important for sticky in flex/grid containers */
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  display: flex;
  flex-direction: column;
}

.sidenav::-webkit-scrollbar {
  display: none;
}
/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #454545;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #000000;
  text-decoration: underline;
}

#forest-road-header {
  background-image: url(../assets/forest-road-background.png);
  background-position: 50% 65%;
}

#forest-floor-header {
  background-image: url(../assets/forest-floor-background.png);
  background-position: 50% 70%;
}

#statue-header {
  background-image: url(../assets/statue-background.png);
  background-position: 50% 13%;
}

#city-header {
  background-image: url(../assets/city-background.png);
  background-position: 50% 75%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
/*@media (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}*/
@media (max-width: 1200px), (max-height: 500px) {
  .container {
    display: block;
  }
  .sidenav {
    height: auto;
    width: auto;
    padding: 20px 0px;
    flex-direction: row;
    white-space: nowrap;
    background-image: url(../assets/scroll-background-horizontal.png);
    background-position: bottom;
  }
  h1 {
    padding: 20px 0px;
    font-size: 150%;
  }
  p {
    padding: 20px 0px;
    font-size: 100%;
  }
}
