:root {
  --hover-color: #000000;
  --number-color: #b5cea8;
  --string-color: #ce915e;
  --keyword-color: #3a8cd6;
  --function-color: #dcdcaa;
  --bracket-1-color: #ffd700;
  --bracket-2-color: #b670d6;
  --bracket-3-color: #1e6af1;
  --variable-color: #9cdcf0;
  --operator-color: white;
  --conditional-color: #b670d6;
  --comment-color: #549955;
  --custom-1-color: #c6462b;
  --custom-2-color: #d16969;
  --custom-3-color: #ce834d;
  --custom-4-color: #d7ba7d;
}

* {
  /*outline: 1px solid purple;*/
  font-family: 'Eagle lake', georgia;
  text-align: center;
  color: #363636;
}

h1 {
  font-size: 2.5rem;
  padding: 10px;
}

h2 {
  font-size: 2rem;
  padding: 10px;
}

p {
  font-size: 1.5rem;
  padding: 20px;
  font-weight: bold;
}

body {
  background-color: #edd7c4;
  background-image: url(../assets/parchment-background-2.png);
  background-size: cover;
}

header {
  background-image: url(../assets/village-background-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 40%;
  min-height: 200px;
}

textarea {
  width: 700px;
  text-align: left;
  font-family: monospace;
  font-size: 1.25rem;
  resize: none;
  height: 100%;
  padding: 20px 20px 0px 20px;
  min-height: 160px;
}

input {
  width: 1285px;
  text-align: left;
  font-family: monospace;
  font-size: 1.25rem;
}

.center {
  margin: auto;
  width: 90%;
}

main {
  /*min-height: 10000px;*/
  flex: 1;
}

.container {
  display: flex; /* Or display: grid; with appropriate grid-template-columns */
}

/* The sidebar menu */
.sidenav {
  width: 250px; /* Example width */
  height: 95vh;
  /*background-color: #f6f5e0;*/
  background-image: url(../assets/scroll-background.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  position: sticky;
  top: 0px;
  /*bottom: 0px; /* Matches the header's height */
  align-self: flex-start; /* Important for sticky in flex/grid containers */
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  display: flex;
  flex-direction: column;
}

.sidenav::-webkit-scrollbar {
  display: none;
}
/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #454545;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #000000;
  text-decoration: underline;
}

.hide {
  display: none;
}
/*
.invisible-font {
  color: rgba(0, 0, 0, 0);
}

*/

#volcano-header {
  background-image: url(../assets/mount-doom-background.png);
  background-position: 50% 24%;
}

#form-example-container {
  display: inline-flex;
}

#htmlContainer {
  background-color: white;
  width: 1475px;
  outline: 1px solid black;
  padding: 20px;
  margin: auto;
}

#change-container {
  display: flex;
  justify-content: right;
  min-height: 28px;
}

#examples-container {
  display: flex;
  justify-content: left;
  min-height: 28px;
}

.active {
  background-color: #c0c0c0;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

#colorPicker {
  width: 40px;
}

#mouseDisplay {
  position: absolute;
  font-family: monospace;
  font-size: 1.25rem;
  text-align: left;
  background-color: black;
  outline: 2px solid white;
  padding: 2px 6px;
}

@media (max-width: 1200px), (max-height: 500px) {
  .container {
    display: block;
  }
  .sidenav {
    height: auto;
    width: auto;
    padding: 20px 0px;
    flex-direction: row;
    white-space: nowrap;
    background-image: url(../assets/scroll-background-horizontal.png);
    background-position: bottom;
  }

  :root {
    font-size: 0.8em;
  }
}

/* Highlighter */

.example-container {
  background-color: black;
  width: 700px;
  min-height: 160px;
  outline: 2px solid white;
  padding: 20px;
}

.exampleText {
  color: white;
  font-family: monospace;
  font-size: 1.25rem;
  text-align: left;
  padding: 0px;
  margin: 0px;
  line-break: auto;
  overflow-wrap: break-word;
}

.htmlText {
  color: black;
  font-family: monospace;
  font-size: 1.25rem;
  text-align: left;
  padding: 0px;
  margin: 20px;
}

.monospace-black {
  color: black;
  font-family: monospace;
  font-size: 1.5rem;
  text-align: left;
  padding: 5px;
  margin: 5px;
}

.number {
  color: var(--number-color);
  font-family: monospace;
}

.string {
  color: var(--string-color);
  font-family: monospace;
}

.keyword {
  color: var(--keyword-color);
  font-family: monospace;
}

.function {
  color: var(--function-color);
  font-family: monospace;
}

.bracket-1 {
  color: var(--bracket-1-color);
  font-family: monospace;
}

.bracket-2 {
  color: var(--bracket-2-color);
  font-family: monospace;
}

.bracket-3 {
  color: var(--bracket-3-color);
  font-family: monospace;
}

.variable {
  color: var(--variable-color);
  font-family: monospace;
}

.operator {
  color: var(--operator-color);
  font-family: monospace;
}

.conditional {
  color: var(--conditional-color);
  font-family: monospace;
}

.comment {
  color: var(--comment-color);
  font-family: monospace;
}

.custom-1 {
  color: var(--custom-1-color);
  font-family: monospace;
}

.custom-2 {
  color: var(--custom-2-color);
  font-family: monospace;
}

.custom-3 {
  color: var(--custom-3-color);
  font-family: monospace;
}

.custom-4 {
  color: var(--custom-4-color);
  font-family: monospace;
}

.number:hover,
.string:hover,
.keyword:hover,
.function:hover,
.bracket-1:hover,
.bracket-2:hover,
.bracket-3:hover,
.variable:hover,
.operator:hover,
.conditional:hover,
.comment:hover,
.custom-1:hover,
.custom-2:hover,
.custom-3:hover,
.custom-4:hover {
  background-color: var(--hover-color);
}
